@import "color-palette.less";

body {
	color: @color-text;
	background-color: white;
}
h1 {
	margin: 0.5em 0 0 .75em;
	font-size: 3em;
	color: @color-secondary-1-0;
	text-shadow: 2px 2px @color-text;	;
	small {
		font-size: 55%;
		color: @color-secondary-1-0;
	}

	@media only screen and (min-width : 768px) {
		margin-top: 1em;
		font-size: 4.25em;
		line-height: .75em;
	}
	@media only screen and (max-width : 768px) {
		text-shadow: 1px 1px @color-secondary-1-4;
		color: @color-primary-1;
		margin-bottom:40px;
		small {
			color: @color-primary-1;
		}
	}
}
h3 {
	font-weight: bold;
}

#banner {
	position: relative;
	padding: 0;
	.nav-tabs {
		margin: 0 auto;
	}
	@media only screen and (min-width : 767px){
		height: 300px;
		margin-top: 20px;
		background: @color-primary-2 url("../img/banner.png") no-repeat right bottom;
		border: 4px solid @color-primary-3;
		border-bottom-width: 0;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		.innerContainer {
			height: 100%;
			border-top-left-radius: 25px;
			border-top-right-radius: 25px;
			border: 2px solid @color-secondary-1-0;
			border-bottom-width: 0;
			box-shadow: inset 0 0 10px @color-primary-2;
		}
		.nav-tabs {
			position: absolute;
			bottom: 0;
		}
	}

	@media only screen and (min-width : 1200px) {
		width: 1170px;
		.nav-tabs {
  			margin-left: 20px;
		}
	}
	@media only screen and (min-width : 992px) and (max-width : 1199px) {
		width:970px;
		.nav-tabs {
  			margin-left: 17px;
		}
	}

	@media only screen and (min-width : 768px) and (max-width : 991px) {
		width:750px;
		.nav-tabs {
  			margin-left: 12px;
		}
	}
	@media only screen and (min-width : 480px) and (max-width : 767px) {
		
		width:96%;
		.nav-tabs {
			width: 96%;
  		}
	}
}

#contactResults{
	margin: 0 0 50px 15px;
	font-size: 18px;
}
#footer {
	margin-top: 20px;
}
.panel-default {
	border-color: @color-secondary-2-1;
	box-shadow: 0 0 10px @color-primary-2;
}
.panel-default>.panel-heading {
	background-color: @color-secondary-1-1;
	border-color: @color-secondary-2-1;
}
.panel-default>.panel-body {
	background-color: #ffccff;
}
.tab-pane>.container {
	background-color: @color-primary-5;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border: 4px solid  @color-primary-3;
	border-top-width: 0;
	padding: 0;
	@media only screen and (max-width : 767px){
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		border-top-width: 4px;
	}
	.innerContainer {
		height:100%;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
		border: 2px solid @color-secondary-1-0;
		border-top-width: 0;
		padding:15px;
		box-shadow: inset 0 0 10px @color-primary-2;
		@media only screen and (max-width : 767px){
			border-top-left-radius: 25px;
			border-top-right-radius: 25px;
			border-top-width: 2px;
		}
	}
}
.well {
	background-color: @color-primary-3;
	border-color: @color-primary-4;
	border-radius: 10px;
	box-shadow: 0 0 10px #333;
	color: @color-secondary-1-1;
	a {
		color: @color-secondary-1-4;
	}
}
.nav-tabs.nav-justified {
	width: 96%;
}

/* tab color */
.nav-tabs>li>a {
  background-color: @color-secondary-1-4; 
  border-color: @color-primary-4;
  border-bottom: 1px solid @color-primary-1;
  color:#fff;
  font-size:18px;
  font-weight:bold;
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: @color-secondary-1-0;
  border: 1px solid @color-primary-4;
}

/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: @color-primary-4;
  background-color: @color-primary-4;
}

.panel-title a {
	display: inline-block;
	width: 100%;
	height:100%;
	text-decoration: none;
}
#mtaa {
	@media only screen and (min-width : 480px) {
		background-image: url("../img/mtaa_logo.png");
		background-repeat: no-repeat;
		background-position: right center;
		padding-right: 150px;
    }	
}